extends layout

block header
  h2 Course page for:
    strong Mobile Applications

block content
  section(class="column small-12")
    h2 About the course
    p.
      This course aims to give the student knowledge about the Android platform, the tools for developing
      applications (apps) for this platform as well as how take advantage of the capabilities of Android devices,
      such as sensors and cameras.
    p.
      Furthermore, we will take a look at designing and implementing user interfaces when working on a platform
      with vast difference between device screens.
    h4 About the lecturer
    p.
      My name is Lukas Jørgensen, I'm a 22 years old Computer Science master-student from Aarhus University. Feel free to
      contact me at: #[a(href="mailto:lpjoergensen@gmail.com") lpjoergensen@gmail.com], if you have any questions
      or issues.
  section(class="column small-12")
    h2 Course plan
    p.
      Tentatively, the general schedule is as follows:
    table
      thead
        tr
          th Time
          th Activity
      tbody
        tr
          td 9-10
          td Lecture
        tr
          td 10:15-11:15
          td Lecture
        tr
          td 11:30-12:00
          td Exercises
        tr
          td 12:00-13:00
          td Lunch breaks
        tr
          td 13:00-14:00
          td Exercises
    h4 Week 1
    table
      thead
        tr
          th.col-weekday Weekday
          th.col-subjects Subjects
          th.col-literature Literature
      tbody
        tr
          td Monday (#[a(href="slides/day-1" target="_blank") slides])
          td Introduction to the course, tools and Android
          td Chapters 1, 2 and 3, #[a(href="notes/day-1") notes]
        tr
          td Tuesday (#[a(href="slides/day-2" target="_blank") slides])
          td Resources, fragments and creating new views
          td Chapters 3 and 4, #[a(href="notes/day-2") notes]
        tr
          td Wednesday (#[a(href="slides/day-3" target="_blank") slides])
          td Hardware sensors
          td Chapter 12, #[a(href="notes/day-3") notes]
        tr
          td Thursday (#[a(href="slides/day-4" target="_blank") slides])
          td App-to-app communication
          td Chapter 5, #[a(href="notes/day-4") notes]
        tr
          td Friday (#[a(href="slides/day-5" target="_blank") slides])
          td Local storage
          td Chapters 7 and 8, #[a(href="notes/day-5") notes]
    h4 Week 2
    table
      thead
        tr
          th.col-weekday Weekday
          th.col-subjects Subjects
          th.col-literature Literature
      // Services (9) (!)
      // Maps and GPS (13) (~)
      // Audio, video and camera (15) (~)
      // Bluetooth, NFC, WI-FI and networks (16) (~)
      // Telephony and sms (17) (?)
      // Shared, remote storage (Firebase)
      tbody
        tr
          td Monday
          td TBD
          td TBD
        tr
          td Tuesday
          td TBD
          td TBD
        tr
          td Wednesday
          td TBD
          td TBD
        tr
          td Thursday
          td TBD
          td TBD
        tr
          td Friday
          td Group project #[strong (no class)]
          td
    h4 Week 3
    table
      thead
        tr
          th.col-weekday Weekday
          th.col-subjects Subjects
          th.col-literature Literature
      tbody
        tr
          td Monday
          td Group project
          td
        tr
          td Tuesday
          td Group project #[strong (Deadline)]
          td
        tr
          td Wednesday
          td Hackathon
          td
        tr
          td Thursday
          td Presentations
          td
        tr
          td Friday
          td Graduation day
          td
  section(class="column small-12")
    h2 Project
    p.
      You should form groups of two to three people for the project. The project
      is open, and you are free to form the scope of the project, as long as
      your project complies with the minimum specifications.
    p.
      The minimum requirements, i.e. the requirements to receive the minimum
      #[em passed] grade (02) are the following:
    ul
      li You must create an Android app.
      li The app must run on Android 4.4 and above.
      li The app must support both #[em phones] and #[em tablets] of different resolutions.
      li The app must use a range of advanced technology #[em (minimum 2)] in a meaningful way, these technologies could be:
        ul
          li Sensors.
          li Camera.
          li GPS.
          li Maps.
          li Services.
    p.
      You will develop the project in groups, and we will have a round of
      presentations around the end of the course, where you will get to show-off
      what you have made.
    h3 Project reports
    p.
      The project reports are #[strong individual hand-ins] about the group
      project.
    ul
      li Max. 12 pages long (excluding appendix)
      li Should contain all of the following topics:
        ul
          li Introduction and description of the project
          li What functionality did you need
          li An overview of the architecture
          li How did you implement the functionality
          li Why did you implement the functionality like you did
          li What could/would you have done differently
    p.
      In general, you don't have to do an exhaustive description of your
      project. Focus on the aspects that you find interesting and if you think
      that you have a neat trick in your code that does something in a clever
      way. Do not write a page about how you wrote XML that defined a layout
      which got inflated into a #[tt ViewGroup]-tree and rendered as the UI of
      your application.

  // TODO: Grading, individual reports or individual exams?
  section(class="column small-12")
    h2 Course Evaluation
    p.
      All students will be graded according to the Danish grading scale. The grade given, will be based on the
      student’s work during all three weeks, as well as the final project, report and group presentation.
      #[em Attendance during the course is mandatory for all days].
    table
      thead
        tr
          th Danish mark
          th Explanation of the mark
          th Equivalent ECTS mark
      tbody
        tr
          td 12
          td For an excellent performance
          td A
        tr
          td 10
          td For a very good performance
          td B
        tr
          td 7
          td For a good performance
          td C
        tr
          td 4
          td For a fair performance
          td D
        tr
          td 02
          td For an adequate performance
          td E
        tr
          td 00
          td For an inadequate performance
          td Fx
        tr
          td -3
          td For an unacceptable performance
          td F
