body {
    padding: 2em;
}

body>header {
    margin-bottom: 2em;
}

.content-container {
    margin-bottom: 3em;
}

.col-weekday {
  width: 15%;
}

.col-literature {
  width: 25%;
}

img {
    max-height: 30rem;
}