extends layout

block header
  h2 Course page for: #[strong Mobile Applications]

block content
  section.column.small-12
    h2 Lecture notes: day 3
    h3 Hardware sensors
    
  section.column.small-12
    h2 Exercises
  section.column.small-12
    h2 Hand-in
