extends layout

block header
  h2 Final projects in MOB Summer 2016

block content
  section.column.small-12
    div.callout
      h4 Strings On Fire
      p
        a(href="/static/apks/stringsonfire.apk") Download here
      p.
        A Guitar-hero like app.
    div.callout
      h4 NoteApp
      p
        a(href="/static/apks/adamandmarek.apk") Download here
      p.
        An app for tourists for taking picture, writing notes and store the
        location the photos was taken.
    div.callout
      h4 Battleships
      p
        a(href="/static/apks/battleships.apk") Download here
      p.
        An Age Of Empires like game with ships, played on the real-world map.
    div.callout
      h4 Beeramide
      p
        a(href="/static/apks/beeramide.apk") Download here
      p.
        A fun drinking game for 4+ players.
    div.callout
      h4 Into The Darkness
      p
        a(href="/static/apks/intothedarkness.apk") Download here
      p.
        An intriguing game, with a grim theme.
    div.callout
      h4 WalkingFun
      p
        a(href="/static/apks/walkingfun.apk") Download here
      p.
        An fun game with minigames spawned at various geographical locations.
    div.callout
      h4 Walk To Craft
      p
        a(href="/static/apks/walktocraft.apk") Download here
      p.
        A blend between Pokemon Go and Minecraft, collect resources, craft items
        and complete quests!
