extends layout

block content
  h1 Solution for exercise 4 day 4
  h2 MainActivity.Java
  pre
    code.Java.
      public class MainActivity extends AppCompatActivity {

          @Override
          protected void onCreate(Bundle savedInstanceState) {
              super.onCreate(savedInstanceState);
              // Load the activity_main.xml file in as the interface
              setContentView(R.layout.activity_main);
          }

          // This is the method that onClick will call
          public void sendMail(View view) {
              // Create the implicit intent
              Intent mailIntent = new Intent();

              // Set the Action of the Intent
              mailIntent.setAction(Intent.ACTION_SEND);
              // Set the content type
              mailIntent.setType("text/html");

              // Start the activity
              startActivity(mailIntent);
          }
      }
  h2 activity_main.xml
  pre
    code.XML.
      &lt;?xml version="1.0" encoding="utf-8"?&gt;
      &lt;LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:orientation="vertical"
          android:paddingBottom="@dimen/activity_vertical_margin"
          android:paddingLeft="@dimen/activity_horizontal_margin"
          android:paddingRight="@dimen/activity_horizontal_margin"
          android:paddingTop="@dimen/activity_vertical_margin"
          tools:context="com.example.gomer.intents.MainActivity"&gt;

          &lt;Button
              android:layout_width="match_parent"
              android:layout_height="wrap_content"
              android:text="@string/send_mail"
              android:onClick="sendMail"/&gt;
      &lt;/LinearLayout&gt;
  h2 FakeMailActivity.java
  pre
    code.Java.
      public class FakeMailActivity extends Activity {
          @Override
          protected void onCreate(Bundle savedInstanceState) {
              super.onCreate(savedInstanceState);
              setContentView(R.layout.activity_fakemail);
          }
      }

  h2 activity_fakemail.xml
  pre
    code.XML.
      &lt;?xml version="1.0" encoding="utf-8"?&gt;
      &lt;LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:orientation="vertical"
          android:paddingBottom="@dimen/activity_vertical_margin"
          android:paddingLeft="@dimen/activity_horizontal_margin"
          android:paddingRight="@dimen/activity_horizontal_margin"
          android:paddingTop="@dimen/activity_vertical_margin"
          tools:context="com.example.gomer.intents.MainActivity"&gt;

          &lt;TextView
              android:layout_width="match_parent"
              android:layout_height="wrap_content"
              android:textSize="50sp"
              android:text="@string/mail_caught"/&gt;
      &lt;/LinearLayout&gt;
  h2 strings.xml
  pre
    code.XML.
      &lt;resources&gt;
          &lt;string name="app_name"&gt;Intents&lt;/string&gt;
          &lt;string name="send_mail"&gt;Send mail&lt;/string&gt;
          &lt;string name="mail_caught"&gt;The mail was caught!&lt;/string&gt;
      &lt;/resources&gt;
  h2 AndroidManifest.xml
  pre
    code.XML.
      &lt;?xml version="1.0" encoding="utf-8"?&gt;
      &lt;manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.gomer.intents"&gt;

          &lt;application
              android:allowBackup="true"
              android:icon="@mipmap/ic_launcher"
              android:label="@string/app_name"
              android:supportsRtl="true"
              android:theme="@style/AppTheme"&gt;
              &lt;activity android:name=".MainActivity"&gt;
                  &lt;intent-filter&gt;
                      &lt;action android:name="android.intent.action.MAIN" /&gt;

                      &lt;category android:name="android.intent.category.LAUNCHER" /&gt;
                  &lt;/intent-filter&gt;
              &lt;/activity&gt;

              &lt;activity android:name=".FakeMailActivity"&gt;
                  &lt;intent-filter&gt;
                      &lt;action android:name="android.intent.action.SEND" /&gt;
                      &lt;category android:name="android.intent.category.DEFAULT" /&gt;
                      &lt;data android:mimeType="text/html" /&gt;
                  &lt;/intent-filter&gt;
              &lt;/activity&gt;
          &lt;/application&gt;

      &lt;/manifest&gt;
