extends layout

block content
  h1 Solution for exercise 1 day 5
  h2 MainActivity
  pre
    code.Java.
      public class MainActivity extends AppCompatActivity
              implements SharedPreferences.OnSharedPreferenceChangeListener {

          @Override
          protected void onCreate(Bundle savedInstanceState) {
              super.onCreate(savedInstanceState);
              setContentView(R.layout.activity_main);

              // Fetch the SharedPreferences that the PreferenceManager manipulates
              SharedPreferences prefs = PreferenceManager.getDefaultSharedPreferences(this);
              // Register the MainActivity as a Listener
              prefs.registerOnSharedPreferenceChangeListener(this);
              TextView textView = (TextView)findViewById(R.id.someTextView);
              textView.setText(prefs.getString("pref_key_hello_world", ""));
              textView.invalidate();
          }

          public void showSettings(View view) {
              Intent intent = new Intent(this, SettingsActivity.class);
              startActivity(intent);
          }

          @Override
          public void onSharedPreferenceChanged(SharedPreferences sharedPreferences, String key) {
              // Is it the key that holds the value for the TextView "someTextView"?
              if(key.equals("pref_key_hello_world")) {
                  // Update the TextView
                  TextView textView = (TextView)findViewById(R.id.someTextView);
                  textView.setText(sharedPreferences.getString(key, ""));
                  textView.invalidate();
              }
          }
      }
  h2 activity_main.xml
  pre
    code.Xml.
      &lt;?xml version="1.0" encoding="utf-8"?&gt;
      &lt;LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:paddingBottom="@dimen/activity_vertical_margin"
          android:paddingLeft="@dimen/activity_horizontal_margin"
          android:paddingRight="@dimen/activity_horizontal_margin"
          android:paddingTop="@dimen/activity_vertical_margin"
          android:orientation="vertical"
          tools:context="com.example.lukas.localstorage.MainActivity"&gt;

          &lt;TextView
              android:id="@+id/someTextView"
              android:layout_width="match_parent"
              android:layout_height="wrap_content" /&gt;
          &lt;Button
              android:layout_width="wrap_content"
              android:layout_height="wrap_content"
              android:text="Show settings"
              android:onClick="showSettings"/&gt;
      &lt;/LinearLayout&gt;
  h2 preferences.xml
  pre
    code.Xml.
      &lt;?xml version="1.0" encoding="utf-8"?&gt;
      &lt;PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android"&gt;
          &lt;PreferenceCategory
              android:title="View texts"
              android:key="pref_key_view_texts"&gt;
              &lt;EditTextPreference
                  android:key="pref_key_hello_world"
                  android:summary="Some summary"
                  android:title="Hello World text" /&gt;
          &lt;/PreferenceCategory&gt;
      &lt;/PreferenceScreen&gt;
  h2 SettingsFragment
  pre
    code.Java.
      public class SettingsFragment extends PreferenceFragment {
          @Override
          public void onCreate(Bundle savedInstanceState) {
              super.onCreate(savedInstanceState);

              // Load the preferences as the layout
              addPreferencesFromResource(R.xml.preferences);
          }
      }
  h2 SettingsActivity
  pre
    code.Java.
      public class SettingsActivity extends Activity {
          @Override
          protected void onCreate(Bundle savedInstanceState) {
              super.onCreate(savedInstanceState);

              // Set the fragment as the main view
              getFragmentManager().beginTransaction()
                      .replace(android.R.id.content, new SettingsFragment())
                      .commit();
          }
      }
  