extends layout

block content
  h1 Solution for exercise 1 day 8
  h2 MainActivity
  pre
    code.Java.
      public class MainActivity extends AppCompatActivity {

          private static final int REQUEST_ENABLE_BT = 0;
          private BluetoothAdapter mBluetoothAdapter;

          @Override
          protected void onCreate(Bundle savedInstanceState) {
              super.onCreate(savedInstanceState);
              setContentView(R.layout.activity_main);

              // Fetch the bluetooth adapter
              mBluetoothAdapter = BluetoothAdapter.getDefaultAdapter();
              // Make sure that the device supports bluetooth
              if (mBluetoothAdapter == null) {
                  return; // The device does not support bluetooth
              }

              // This is a bluetooth app, so check right away that bluetooth is enabled
              if (!mBluetoothAdapter.isEnabled()) {
                  Intent enableBtIntent = new Intent(BluetoothAdapter.ACTION_REQUEST_ENABLE);
                  startActivityForResult(enableBtIntent, REQUEST_ENABLE_BT);
              }
          }

          @Override
          protected void onActivityResult(int requestCode, int resultCode, Intent data) {
              switch (requestCode) {
                  case REQUEST_ENABLE_BT:
                      Toast.makeText(this, "The user turned on Bluetooth!", Toast.LENGTH_SHORT).show();
              }
          }
      }