extends layout

block content
  section
    h2 Day 2
  section
    h2 Agenda
    ul
      li Mobile vs Desktop application requirements
      li Benefits and pitfalls of Android
      li Anatomy of an app
      li Android Studio
      li Size measures
      li Exercises