extends layout

block content
  section
    h2 Introduction to Mobile Applications
    i Day 1
  section
    h2 Agenda
    ul
      li Mobile vs Desktop application requirements
      li Benefits and pitfalls of Android
      li Anatomy of an app
      li Android Studio
      li Size measures
      li Exercises
  section
    h2 Mobile vs Desktop
    ul
      li Touch instead of keyboards
      li Small screens &rarr; more scrolling and navigating the apps
      li Vast difference in screens (density, format, size)
      li More limitations on performance, memory and bandwidth
      li Mobile applications are very prone to interruptions (messages, phone calls, some one talking to the
        | user etc.)
      li Limited battery power
      li Unstable network
  section
    section
      h2 Android for developers
      ul
        li Open platform, registering as a developer is free and easy. Anyone can become a developer!
        li It's easy to release an app (small approval process)
        li There are small limitations of what an app can do
        li You can run services in the background
        li All apps are equal, native apps does not have bigger priority
        li Many different platforms to target
    section
      h2 Android for users
      ul
        li Anyone can become a developer..
        li It's easy to release an app..
        li There are small limitations of what an app can do..
        li You can run services in the background..
        li All apps are equal..
        li Apps may not work properly (or even at all) on your device..
  section
    section
      h2 Anatomy of an app
      dl
        dt Manifest
        dd Contains information about the app, which the Android system needs
        dt Resources
        dd Layouts, Strings, Graphics. Separated from application code
        dt Activities
        dd 
          | App "pages". E.g. a settings-activity, map-activity, photo-activity. 
          | Essentially different actions a user can take within an app
    section
      h2 The manifest
      ul
        li What permissions does the app need
        li What technologies does the app need
        li What messages (intents) the app can receive
    section
      h2 Resources
      ul
        li Stored in the #[i res/] folder
        li Graphics stored in #[i res/drawable], and then accessed via R.drawable
      pre
        code(class="xml").
          &lt;?xml version="1.0" encoding="utf-8"?&gt;
          &lt;resources&gt;
              &lt;string
                  name="hello"
                  &gt;text_string&lt;/string&gt;
          &lt;/resources&gt;
      span Can be accessed with
      pre
        code(class="java") String string = getString(R.string.hello);
    section
      h2 Activities
      p.
        Provides a screen with which users can interact in order to do something. 
        Such as dial the phone, taking a photo etc.
      p.
        Each activity is given a window, that can either float on top of other windows
        or fill the entire screen.
  section
    section
      h2 Size measures
      p.
        Screens can have different densities, 10 pixels might be 1mm on one screen and 0.01mm on another screen.
      img(src="/static/images/pixel-density.png")
    section
      h3 Size measures
      dl
        dt px
        dd 1:1 correlation with pixels on the screen (bad)
        dt dp
        dd.
          Device dependent pixels \(px = dp \cdot \frac{dpi}{160}\)
        dt sp
        dd Like dp, but scales with font size
        dt pt
        dd \(\frac{1}{72}\) of an inch
        dt mm and in
        dd Based on physical sizes
  section
    section
      h2 Layouts
      p.
        There a lot of layout types, and they often change. We will focus on the following:
      ul
        li Frame layout
        li Linear layout
        li Table layout
        li Relative layout
    section
      h2 Frame layout
      div.split-1-3-left
        img(src="/static/images/frame_layout.png")
      div.split-2-3-right
        ul
          li Useful for showing a single item
          li Can put containers on top of each other
          li Should only hold a single child view because it is bad at scaling (overlapping children
    section
      h2 Linear layout
      div.split-1-3-left
        img(src="/static/images/linear_layout.png")
      div.split-2-3-right
        ul
          li Stacks items vertically or horizontally
          li Very simple to use
          li Not a lot of utility
    section
      h2 Table layout
      div.split-1-3-left
        img(src="/static/images/table_layout.png")
      div.split-2-3-right
        ul
          li Uses rows and columns
          li Very good for grid-designs
          li Simple to use
          li Not very organic
    section
      h2 Relative layout
      div.split-1-3-left
        img(src="/static/images/relative_layout.png")
      div.split-2-3-right
        ul
          li Can do a lot of things
          li Place elements relative to each other
          li Very flexible
          li A bit more complexity
          li Not as efficient
  section
    h2 Mandatory exercises
    ul
      li During the course there will be various exercises
      li Some mandatory exercises
      li Voluntary exercises can be a good idea
  section
    h2 Individual hand-ins
    ul
      li There will be a few small individual hand-ins
      li Don't work together, they are part of the grading
      li If you have any questions, send me an email
  section
    section
      h2 Group project
      ul
        li Starting today, you will work in groups towards your final project
        li Take it slow, you have the whole course to finish
        li Aim for having a good idea by the end of this week
    section
      h2 Group project
      ul
        li Create an Android 4.4 app
        li Must support both #[em phones] and #[em tablets] of different resolutions
        li Must support advanced technologies
          ul
            li Sensors
            li Cameras
            li GPS
            li Maps
            li Services
        li Presentation at the end of the course
  section
    h2 Exam
    ul
      li Grading based on
        ul
          li Individual hand-ins
          li Group project and presentation
          li Individual presentations at the end of the course
      